.App {
    text-align: center;
    background-color: #bdcedd;
    height: '100vh';
}

.App-logo {
    height: calc(10px + 4vmin);
    pointer-events: none;
}

.App-header {
    background-color: #1b3144;
    height: calc(10px + 8vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body {
    margin: 2vmax;
    height: 80vh;
}

.Card-button {
    margin-top: 2max;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}