.App {
    text-align: center;
    background-color: #bdcedd;
    height: '100vh';
}

.App-logo {
    height: calc(10px + 4vmin);
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #1b3144;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body {
    margin: 2vmax;
    height: 80vh;
}

.Card-button {
    margin-top: 2max;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}